body {
    margin: 0;
    overflow: hidden;
    font-family: Futura;
}

#sidebar-left {
    position: fixed;
    left: 0;
    top: 0;
    width: 275px;
    height: 100%;
    background-color: #05263d;
    color: #C67B42;
    overflow-y: auto;
    padding: 20px;
}

#map {
    position: fixed;
    left: 275px;
    top: 0;
    right: 300px;
    bottom: 0;
}

#panel-right {
    position: fixed;
    right: 0;
    top: 0;
    width: 300px;
    height: 100%;
    background-color: #05263d;
    color: #C67B42;
    overflow-y: auto;
    padding: 20px;
}

.titre-section {
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 6px;
    color: #C67B42;
}

.checkbox-line {
    display: flex;
    align-items: center;
    gap: 6px;
    margin-bottom: 4px;
}

.checkbox-line label {
    color: #C67B42;
}

.slider-container {
    margin-bottom: 20px;
    color: #C67B42;
}

.pin-container {
    background: transparent;
}

.pin {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: #05263d;
    border: 2px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #C67B42;
    font-family: Futura;
    font-size: 16px;
}
